:root {
    --eye-size: 150px;
}

#eye .body-0 {
    position: absolute;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
    width: var(--eye-size);
    height: var(--eye-size);
    border-radius: 85% 15.33%;
    transform: rotate(42deg);
}

#eye .body {
    border: 2px solid #000;
    width: var(--eye-size);
    height: var(--eye-size);
    border-radius: 85% 0px;
    transform: rotate(42deg);
}

#eye .iris {
    width: 60%;
    height: 60%;
    margin: 20%;
    border: 1px solid #000;
    border-radius: 50%;
}

#eye .pupil {
    position: relative;
    width: 30%;
    height: 30%;
    margin: 35%;
    background: #000;
    border-radius: 50%;
}

#eye .light {
    position: absolute;
    top: 30%;
    width: 30%;
    height: 30%;
    background: #fff;
    border-radius: 50%;
}