html, body {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 100%;
    min-height: 100%;
    margin: 0;
}

.block-full,
.block-half,
.block-quarter  {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 400px;
}

.block-full {
    width: 100%;
}

.block-half {
    width: 50%;
}

.block-quarter {
    width: 25%;
}

@media only screen and (max-width: 720px) {
    .block-half,
    .block-quarter {
        width: 100%;
    }
}

@media only screen and (min-width: 721px) and (max-width: 1200px) {
    .block-quarter {
        width: 50%;
    }
}

:root {
    --primary-color: #494949;
}